body {
	margin: 0;
}

#menu {
	background-color: #253a46;
	padding: 26px;
	font-size: 20px;
}

#menu a {
	color: white;
	padding-right: 50px;
	text-decoration: none;
}

.tabla {
	width: 100%;
	text-align: left;
}

#margen {
	margin: 100px;
}

.tabla td {
	padding-top: 10px;
	padding-bottom: 10px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}

.rojo {
	color: darkred;
}

.pub_titulo {
	border-top: 1px solid darkblue;
	cursor: pointer;
}

li {
	margin: 15px 0 15px 0;
}

.contenedor_tareas {
	font-size: 20px;
	margin: 50px;
	margin-bottom: 50px;
}

.m_left {
	margin-left: 20px;
}
